APP_ENV=dev
APP_URL=production.site
APP_URL_DEV=localhost

APP_PORT=8080
POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/quanly_phongtro?sslmode=disable
ACCESS_TOKEN_JWT_SECRET=change-me
REFRESH_TOKEN_JWT_SECRET=change-me-2
JWT_TTL_MINUTES=60
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
OTP_EXPIRE_MINIUTES=3
MAIL_FROM_EMAIL=
MAIL_FROM_NAME=Quan ly phong tro
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ZALO_BOT_ENCRYPTION_KEY=
APP_SECRET_ENCRYPTION_KEY=
ZALO_BOT_TOKEN_TEST=
GOOGLE_MAP_API_KEY=
